body {
  text-align: center;
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: sans-serif;
  margin-top: 2em;
}

#portrait {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 100%;
  width: 192px;
  height: 192px;
  background-size: cover;
  background-image: url(https://s.gravatar.com/avatar/5aa98fc797d37e7a7448cb788abac548?s=192);
}

#links a {
  text-decoration: none;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  fill: #c9d1d9;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  #portrait {
    background-image: url(https://s.gravatar.com/avatar/5aa98fc797d37e7a7448cb788abac548?s=384);
  }
}
